{% extends 'base_layout_league.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <form class="site-form" action="{% url 'lglogin' %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}<br/>
            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}
            <input type="submit" class="btn btn-primary" value="Login">&nbsp
            <a href="{% url 'lgsup' %}"> New user? Click here to register</a>
        </form>
    </div>
{% endblock %}