{% extends 'base_layout_bowler.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <form class="site-form" action="{% url 'tstats' %}" method="post">
            {% csrf_token %}
            {{ form |crispy}}<br/>
            <input type="submit" class="btn btn-primary" value="Search">
        </form>
    <div class="'container">
        {% csrf_token %}
        {% for t in t1 %}
            <h1>
        {{ t.team_name }} averages {{ t.team_avg }} per game<br/>
            </h1>
        {% endfor %}
        {% for t in t2 %}
            <h1>
        {{ t.team_name }} averages {{ t.team_avg }} per game<br/>
            </h1>
        {% endfor %}
    </div>
    </div>
{% endblock %}